html {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.formSurvey {
    margin-left: 12px;
}
.header {
    border-bottom: 1px dotted #000;
}
input {
    margin: 8px 0;
    margin-right: 8px;
}
.line {
    border: 1px solid #000;
}
td {
    text-align: center;
}
.w20 {
    width: 20%;
}

