:root{
    mainColor:#111727;

}
*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: #ffffff;
}
/* body {
    overflow: hidden;

} */
.app{
    width: 100%;
    display: flex;
    flex-direction: row;
}
/* ==================== Navigation============================ */
.app {
    background-color: #000;
}
.navigationLeft {
    display: flex;
    flex-direction: column;
    
    width: 20%;
    background-color:#111727;
    color: #fff;
    border-radius: 3px;
    margin-left: 12px;
}
.navigation_profile {

}
.nav_profile {
   margin: 0 20px;
}
.nav_profile .nav_profile_icon {
    display: flex;
    flex-direction: row;
}
.nav_profile .profile_name {
    text-align: left;
    padding: 20px 0;
    width: 70%;
}
.nav_profile .profile_buttons {
    width: 80%;
    padding: 8px 2px;
    background-color: #3B75FE;
    border: none;
    border-radius: 2px;
    color: #ffffff;
    cursor: pointer;
    align-items: center;
}
.profile_icon {
    padding: 12px;
    width: 30%;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
}
.nav_library .nav_library_headName ,.nav_playList_Name {
    padding: 24px;
    font-size: medium;
    font-weight: bold;
    opacity: 0.6;
}
.nav_library .libraryUL li ,.nav_playList .playList_yourPlayList li{
    padding: 8px;
    margin-left: 16px;
    list-style-type: none;
    cursor: pointer;
}
.nav_library .libraryUL li i{
    margin-right: 8px;
    font-size: 14px;
    color: #3B75FE;
}
.nav_playList_Name i{
    float: right;
    color: #3B75FE;
    cursor: pointer;
}
.nav_playList .playList_yourPlayList li i{
    font-size: 6px;
    color: #3B75FE;
    margin-right: 8px;
    transform: translateY(-50%);
}
/* +============================= Content============================================================== */
.contentBoxright {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #0b1320;
    color: #fff;
    margin-right: 12px;
}
.contentBox_header {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    font-size: 20px;
    border: 1px solid #ddd;
    background-color: #0b1330;
    border-radius: 4px;
}
.contentBox_header .contentBox_header_left {
    position: relative;

}
.iconControl {
    cursor: pointer;
    border: 1px solid #ccc;;
    padding: 4px;
    transform: translateY(3px);
}
.contentBox_header .contentBox_header_left input{
    padding: 5px;
    width: 300px;
    margin-left: 12px;
    position: relative;

}
#iconSearch {
    position: absolute;
    top: 8px;
    right: 20px;
    cursor: pointer;
}
.contentBox_header .contentBox_header_right i {
    margin-right: 16px;
    cursor: pointer;
}
.recommended_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}
.albumsList{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    list-style-type: none;
    width: 100%;
    margin: 12px;
}
.albumsList .album_img {
    width: 90% ;
    border-radius: 4px;
}
.albumsList .album_name {
    padding: 4px 0;
    width: 100%;
}
.albumsList .album_singer {
    opacity: 0.6;
}
.musicSongs {
    display: flex;
    flex-direction: row;
}
.musicSongs .musicSongs_recently {
    width: 50%;
    border-right: 1px solid #DDd;
}
.musicSongs_recently .recently_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 12px;
}
.recently_content .recently_content_ulList {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 12px;
    flex-wrap: wrap;
    list-style-type: none;
}
.recently_content_ulList .item_song {
    width: 30%;
    display: flex;
    flex-direction: row;
    margin: 12px 0;
    cursor: pointer;
}
.musicSongs_topList {
    margin: 12px;
    width: 50%;
    margin-left: 24px;
}
.item_song .item_songImg{
    width: 35%;
    border-radius: 4px;
}
.item_song .item_song_des{
    font-size: 12px;
    margin-left: 4px;
    margin-top: 8px;
}
.item_song .item_song_des span{
    opacity: 0.6;
}
.topList_content {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.topList_content .title_ul {
    width: 45%;

}
.topList_content .artist_ul ,.topList_content .album_ul{
    width: 25%;
}
.ul_name {
    opacity: 0.6;
    margin-top: 8px;
    background-color: #eee;
    padding: 8px 4px;
    padding-left: 12px;
}
.ul_toplist li{
    margin: 8px 0;
}

/* ================================ Music Live ============================ =========================== */
.musicLive {
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: #0b1330;
    color: #fff;
    border: 2px solid #0b1270;
    bottom: 0;
    display: none;
    flex-direction: row;
}
.control { 
    width: 20%;
    height: 80px;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
    border-right: 1px solid #eee;
}
.preBtn ,.stopBtn,.nextBtn {
    padding : 8px 12px;
    border-radius: 50%;
    margin: auto;
    cursor: pointer;
}
.stopBtn {
    padding: 12px 16px;
}
.liveSong {
    width: 60%;
    height: 80px;
    display: flex;
    flex-direction:row;
    align-items: center;
    border-right: 1px solid #eee;
}
.liveSongDes {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin:  0 12px;
    align-items: center;
}
.audioBox {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.audioBox input{
    width: 80%;
}
.liveSongImg {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    margin-left: 12px;
    border: 1px solid #000;
}
.subName{
    font-size: 10px;
    opacity: 0.6;
}
.fa-solid {
    width: 10px;
}
.subControl {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.muteBox {
    cursor: pointer;
}
.rePlay {
    color: #3B75FE;
}
.volume input {
    cursor: pointer;
}